<div class="social-share">
  <span class="share-label">
    <img src="/icons/share.svg" alt="" width="16" height="16">
  Paylaşmak
  </span>

  <div class="share-divider"></div>

  <div class="social-icons">

    <a href="#" class="social-icon facebook" data-share="facebook" aria-label="Share on Facebook">
      <img src="/images/Facebook.svg" alt="Facebook" width="18" height="18">
    </a>

    <a href="#" class="social-icon twitter" data-share="twitter" aria-label="Share on Twitter">
      <img src="/images/x.svg" alt="X" width="18" height="18">
    </a>

    <a href="#" class="social-icon whatsapp" data-share="whatsapp" aria-label="Share on WhatsApp">
      <img src="/images/whatsapp.svg" alt="WhatsApp" width="18" height="18">
    </a>

    <a href="#" class="social-icon linkedin" data-share="linkedin" aria-label="Share on LinkedIn">
      <img src="/images/linkedin.svg" alt="LinkedIn" width="18" height="18">
    </a>

    <a href="#" class="social-icon reddit" data-share="reddit" aria-label="Share on Reddit">
      <img src="/images/reddit.svg" alt="Reddit" width="18" height="18">
    </a>

    <a href="#" class="social-icon copy-link" id="copyLinkBtn" aria-label="Copy Link">
      <img src="/images/archives.svg" alt="Copy Link" width="18" height="18">
    </a>

  </div>
</div>